@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap&subset=latin-ext");
.about {
  width: 100%;
  max-width: 1184px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  padding-top: 112px;
  max-width: 1184px; }
  @media (max-width: 780px) {
    .about {
      padding-top: 1rem; } }
  .about__description {
    padding: 0 1rem;
    max-width: 720px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem; }
    @media (max-width: 500px) {
      .about__description {
        font-size: 1.4rem; } }
  .about__link {
    text-decoration: underline;
    color: #0593FB;
    font-weight: 600; }
    .about__link--email {
      margin-left: 1rem;
      text-decoration: none;
      font-size: 1.1rem;
      padding-bottom: 8px;
      border-bottom: 2px solid #0593FB; }
  .about__navigation {
    max-width: 720px;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 48px;
    padding: 0 1rem; }
  .about__user {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-bottom: 32px;
    border-bottom: thin solid #CBD2D9; }
    @media (max-width: 780px) {
      .about__user {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 1rem;
  max-width: 1184px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  @media (max-width: 780px) {
    .user {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .user__avatar {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    padding: 0.4rem;
    border-color: #CBD2D9;
    border-width: .5rem;
    border-style: solid; }
  .user__name {
    padding-left: 16px;
    font-weight: 600;
    font-size: 4rem;
    margin: 0;
    color: #CBD2D9; }
    @media (max-width: 780px) {
      .user__name {
        padding: 0; } }

.contact {
  width: 100%;
  max-width: 1184px;
  display: block;
  margin-bottom: 2rem;
  padding: 0 1rem; }
  @media (max-width: 780px) {
    .contact {
      max-width: 100%;
      padding: 0 1rem; } }
  .contact__description {
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem; }
  .contact__email {
    color: #0593FB;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
    margin-bottom: 2rem; }
  .contact__links {
    list-style: none;
    padding: 0; }
    .contact__links > li {
      display: inline-block;
      padding-right: .5rem; }
  .contact__title {
    font-weight: 600;
    font-size: 2rem; }
    .contact__title--lightblue::before {
      content: url("../assets/img/decoline-lightblue.svg");
      display: block; }

.links__item {
  max-width: 1.5rem;
  max-height: 1.5rem; }
  .links__item--ico {
    width: 100%;
    height: 100%; }
  .links__item--svg {
    fill: #f5f5f5; }

.footer {
  background: #171F3F;
  width: 100%;
  padding: 0;
  color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.skills {
  max-width: 1184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .9rem;
  padding: 2rem 1rem;
  margin: 0 auto; }
  .skills__list {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    list-style: none;
    padding-top: 14px;
    padding-left: 0;
    line-height: 1.5rem; }
    @media (max-width: 500px) {
      .skills__list {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        padding-top: 0; } }
    .skills__list--skills > li::before {
      content: '';
      width: 18px;
      height: 18px;
      display: block;
      background: url("../assets/img/check-green.svg");
      position: absolute;
      top: 3px;
      left: 0; }
    .skills__list--softskills {
      -ms-grid-columns: 100%;
      grid-template-columns: 100%; }
      .skills__list--softskills > li::before {
        content: '';
        width: 18px;
        height: 18px;
        display: block;
        background: url("../assets/img/check-purple.svg");
        position: relative;
        position: absolute;
        top: 3px;
        left: 0; }
    .skills__list--want-lern {
      -ms-grid-columns: 100%;
      grid-template-columns: 100%; }
      .skills__list--want-lern > li::before {
        content: '';
        width: 18px;
        height: 18px;
        display: block;
        background: url("../assets/img/check-blue.svg");
        position: relative;
        position: absolute;
        top: 3px;
        left: 0; }
  .skills__knowledge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 8rem; }
    @media (max-width: 780px) {
      .skills__knowledge {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .skills__softskills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 8rem; }
    @media (max-width: 780px) {
      .skills__softskills {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .skills__subtitle {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0; }
    .skills__subtitle--green::before {
      content: url("../assets/img/decoline-green.svg");
      margin-bottom: 12px;
      display: block; }
    .skills__subtitle--purple::before {
      content: url("../assets/img/decoline-purple.svg");
      margin-bottom: 12px;
      display: block; }
    .skills__subtitle--blue::before {
      content: url("../assets/img/decoline-blue.svg");
      margin-bottom: 12px;
      display: block; }
  .skills__title {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: thin solid #CBD2D9; }
  .skills__want-lern {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 8rem; }
    @media (max-width: 780px) {
      .skills__want-lern {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.skills-list__element {
  padding-left: 22px;
  position: relative; }

.projects {
  background: #e2e4e7;
  padding: 8rem 0; }
  .projects__box {
    max-width: 1184px;
    margin: 0 auto; }
  .projects__list {
    padding: 0 1rem;
    margin: 0;
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px; }
    @media (max-width: 780px) {
      .projects__list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr; } }
  .projects__item {
    background: #f5f5f5;
    -webkit-box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
            box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    border-radius: 8px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .projects__title {
    font-weight: 600;
    font-size: 2rem;
    max-width: 1184px;
    padding: 0 1rem;
    margin: 0 auto 1rem; }
  .projects__description {
    width: 50%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.1rem;
    padding: 2rem 1rem;
    margin: 0; }
    @media (max-width: 780px) {
      .projects__description {
        width: 80%; } }
    @media (max-width: 500px) {
      .projects__description {
        width: 100%; } }

.proj-item__info {
  background: #f5f5f5;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  padding: 3rem; }

.proj-item__logo {
  width: 48px;
  height: 48px; }

.proj-item__link {
  color: #0593FB;
  font-size: 1.1rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .proj-item__link + .proj-item__link {
    margin-left: 50px;
    position: relative; }
    .proj-item__link + .proj-item__link::after {
      content: '';
      height: 32px;
      width: 2px;
      background: #CBD2D9;
      position: absolute;
      left: -26px;
      pointer-events: none; }
  .proj-item__link--page::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background: url("../assets/img/demo_ico.svg") center center no-repeat; }
  .proj-item__link--repo::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background: url("../assets/img/repo_ico.svg") center center no-repeat; }

.proj-item__title {
  font-weight: 600;
  font-size: 1.2rem; }

.proj-item__navi {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background: #e2e4e7;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem 3rem; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f5f5f5;
  scroll-behavior: smooth; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.body {
  color: #353535;
  background: #f5f5f5;
  font-family: 'poppins';
  font-weight: 400;
  font-size: 16px;
  border: 16px solid #171F3F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (max-width: 780px) {
    .body {
      border: 0; } }

/*# sourceMappingURL=main.css.map */
