@import "_variables";

.skills {
    width: 100%;
    max-width: $max-width-desktop;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    padding: 2rem 1rem;
  
    &__list {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      list-style: none;
      padding-top: 14px;
      padding-left: 0;
      line-height: 1.5rem;
  
      @media (max-width: $min-width-mobile) {
        grid-template-columns: 100%;
        padding-top: 0;
      }
  
      &--skills>li {
        &::before {
          content: '';
          width: 18px;
          height: 18px;
          display: block;
          background: url("../assets/img/check-green.svg");
          position: absolute;
          top: 3px;
          left: 0;
        }
      }
  
      &--softskills {
        grid-template-columns: 100%;
  
        &>li {
          &::before {
            content: '';
            width: 18px;
            height: 18px;
            display: block;
            background: url("../assets/img/check-purple.svg");
            position: relative;
            position: absolute;
            top: 3px;
            left: 0;
          }
        }
      }
  
      &--want-lern {
        grid-template-columns: 100%;

        &>li {
          &::before {
            content: '';
            width: 18px;
            height: 18px;
            display: block;
            background: url("../assets/img/check-blue.svg");
            position: relative;
            position: absolute;
            top: 3px;
            left: 0;
          }
        }
      }
    }
  
    &__knowledge {
      display: flex;
      justify-content: space-between;
      padding-top: 8rem;

      @media (max-width: $min-width-desktop) {
        flex-direction: column;
      }
    }
  
    &__softskills {
      display: flex;
      padding-top: 8rem;

      @media (max-width: $min-width-desktop) {
        flex-direction: column;
      }
    }
  
    &__subtitle {
      width: 50%;
      margin-top: 0;
      margin-bottom: 0;
  
      &--green::before {
        content: url("../assets/img/decoline-green.svg");
        margin-bottom: 12px;
        display: block;
      }
  
      &--purple::before {
        content: url("../assets/img/decoline-purple.svg");
        margin-bottom: 12px;
        display: block;
      }
  
      &--blue::before {
        content: url("../assets/img/decoline-blue.svg");
        margin-bottom: 12px;
        display: block;
      }
    }
  
    &__title {
      font-weight: 600;
      font-size: 2rem;
      padding-bottom: 1rem;
      border-bottom: thin solid $grey;
    }
  
    &__want-lern {
      display: flex;
      padding-top: 8rem;

      @media (max-width: $min-width-desktop) {
        flex-direction: column;
      }
    }
  }

  .skills-list__element {
      padding-left: 22px;
      position: relative;
  }