@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
  background: $white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
  font-family: 'poppins';
  font-weight: 400;
}

.main {
  max-width: 1000px;

}

.about {
  height: 100vh;
}