@import "_about";
@import "_normalize";
@import "_variables";
@import "_skills";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
  background: $white;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.body {
  color: $black;
  background: $white;
  font-family: 'poppins';
  font-weight: 400;
  font-size: 16px;

  border: 16px solid $darkblue;

  @media (max-width: $min-width-desktop) {
    border: 0;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



.contact {
  width: 100%;
  max-width: $min-width-desktop;
  display: block;
  margin-bottom: 2rem;

  @media (max-width: $min-width-desktop) {
    max-width: 100%;
    padding: 0 1rem;
  }

  &__description {
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__email {
    color: $blue;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
  }

  &__links {
    list-style: none;
    padding: 0;

    &>li {
      display: inline-block;
      padding-right: .5rem;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 2rem;

    &--lightblue::before {
      content: url("../assets/img/decoline-lightblue.svg");
      display: block;
    }
  }
}

.links {
  &__item {
      max-width: 1.5rem;
      max-height: 1.5rem;

      &--ico {
        width: 100%;
        height: 100%;
      }

    &--svg {
      fill: $white;
    }
  }
}

.footer {
  background: $darkblue;
  width: 100%;
  padding: 0;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.container--grey {
  background: $lightgrey;
  width: 100vh;
  //border-left: .6rem solid $darkblue;
  //border-right: .6rem solid $darkblue;
  display: flex;
  justify-content: center;


  @media (max-width: $min-width-desktop) {
    border: 0;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  max-width: $min-width-desktop;
  width: 100%;

  padding: 1rem;

  &__list{
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    @media (max-width: $min-width-desktop) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 600;
    font-size: 2rem;
    width: 100%;
    
  }

  &__description {
    width: 50%;
    align-self: flex-start;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;

    @media (max-width: $min-width-desktop) {
      width: 80%;
    }

    @media (max-width: $min-width-mobile) {
      width: 100%;
    }
  }
}

.proj-item {

  &__description {
    
  }

  &__info {
    background: $white;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: 1.5rem;
  }

  &__logo {
    width: 48px;
    height: 48px;
  }

  &__link {
    color: $blue;
    font-size: 1.1rem;
    text-decoration: none;
    
    &--page {
      border-right: 2px solid $grey;
    }

    &--page::before {
      content: url("../assets/img/demo_ico.svg");
      vertical-align: -.3rem;
    }

    &--repo::before {
      content: url("../assets/img/repo_ico.svg");
      vertical-align: -.3rem;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.2rem;
  }

  &__navi {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 48px;
  }
}
